
body{
    background-color: lightblue;
}
h1{ width:300px; margin: auto; text-align: center;
    color: blueviolet;
    background-color: black;
}
iframe{text-align: center;
} 

li{ width:500px; margin: auto;
}

div{width:500px; margin:auto;

}
.main{text-align: center;
}
.youtube{text-align: center;}

.hoby h1{width:100px; margin: auto; text-align: center;
    color: blueviolet;
    background-color: black;}



